.image{
  width:30px;
  border-radius:50px;
}

.span{
  color:gray;
}

.flexbox{
  display:flex;
  flex-direction: row;
  margin-bottom:20px;
  align-items: center;
  justify-content: space-between;
}

.strong{
  display:block;
}

.info{
  margin-left: 5px;
}